<div class="row">
    <div class="col-sm-6">
        <h2>OpenStreetMap Netherlands</h2>
        <p>
            We are
            <ul>
                <li>
                    an indepent community within OpenStreetMap
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Partners and associated organizations</h2>
        <p>Become part of our community and our network. Visit us on <a href="http://github.com/osmnl/" target="_blank">GitHub</a>.</p>

        <ul class="default">
            {% for partner in site.data.partners %}
            <li><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
