<div class="row">
    <div class="col-sm-6">
        <h2>OpenStreetMap Nederland</h2>
        <p>
            Wij zijn
            <ul>
                <li>
                    een onafhankelijke community binnen OpenStreetMap
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Partnerorganisaties</h2>
        <p>
            Word deel van onze community en ons netwerk.
            Bezoek ons ook op <a href="http://github.com/osmnl/" target="_blank">GitHub</a>.
        </p>

        <ul class="default">
            {% for partner in site.data.partners %}
            <li><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a> {{ partner.details }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
